*.log
Sounds/
Questionnaire answers.csv
Player Value Analysis.xlsx
Missouri_SkullSplitters_Logo.png
Lunte Response.docx
Keepers Analysis.xlsx
First Pick Sweepstakes.xlsx
FFL Roster spots and points.xlsx
End of season announcements.docx
dropped_players.csv
Draft Sheet 2023.pdf
Beer Sheet 2022.pdf
sad_green_bay.jpg
Sleeper_API.py